{% extends 'app/base.html' %}

{% block title %}Nosotros{% endblock %}

{% load static %}

{% block contenido %}
<div id="contenido_otros">
    <img src="{% static 'app/img/nosotros.jpg' %}" alt="nosotros.img" class="nosotros_img">
        {% for n in nosotros %}
        <div class="contenido_nosotros">
            
            <div>
                <h3>{{ n.nosotros }}</h3>
                <br>
                <h3>
                    <b>Nuestra Historia:</b>   
                </h3>
                <br>
                <h3>{{ n.historia }}</h3>
                <br>
                <h3>
                    <b>Nuestra Misión:</b>   
                </h3>
                <br>
                <h3>
                    {{ n.mision }}
                </h3>
                <br>
                <h3>
                    <b>Nuestra Visión:</b>
                </h3>
                <br>
                <h3>
                    {{ n.vision }}
                </h3>
            </div>
            
        </div>
        {% endfor %}
</div>
{% endblock %}